html {
    font-style: 16px;
    font-family: "Open Sans";
}

.center {               /*id is center for the image*/
    display: block;
    margin-left: auto;  /*automaticallly adjusted to the content/window size*/
    margin-right: auto;
    width: 70%;
}

.myText {
    width: 50%;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

#parent {
    text-align: center;
}
.butts {
    border-color: "red";
    display: block;
    width: center;
    margin-left: auto; 
    margin-right: auto;
}

#footer {
    text-align: center;
}
a {
    text-decoration: none;
}
#foot {
    font-size: 12px;
    text-decoration: none;
    width: 50%; 
    display: intline-block;
    margin-left: auto;
    margin-right: auto;
}


